/* general text formatting */
h1{
	  font-size: 30px;
		color: black;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif	;
  padding: 60px 436px;

}
.boardrow{
	  background-color: #4CAF50    ;
	   padding: 20px 600px 20px 8px;
  font-size: 20px;
  color: white;

}
table{color: black;
 border: 2px solid #111c3b;
 margin: 0px 400px 0px 300px;
}


tr{background-color: white;
text-align: left;
vertical-align: top;
}

th{
	padding: 5px 10px 5px 10px;

}
p{  font-weight: normal;
}
a:link {
  color: #0e1166;
  text-decoration: none;
}
a:visited {
  color: #150f42;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

.topbar {
  background-color: #111c3b     ;
  overflow: hidden;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif	;
border-bottom: 4px solid red;
   padding: 50px 16px;
   position: relative;
  
}
.login{
   top:7px;
right:5em;
position:absolute;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;

}
.login button {
  float: right;
  padding: 5px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif	;
  color: black;
  border: 2px solid #4CAF50; 
  margin-left: 10px;
   background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 2px solid #4CAF50; /* Green */
  border-radius: 2px;
}
.login button:hover{
	 background-color: white; /* Green */
  color: black;
}
body{
	background-color: #f5f6fa;
}
.bartext a {
	top:7px;
	left:6em;
	position:absolute;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
  opacity:0.7;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif	;

}

.logo{
	top:7px;
	position:absolute;
	  float: left;
	opacity:0.8;
	  padding: 0px 16px 10px;

}
.logo:hover{

	opacity:1;
}

.bartext a:hover {
  opacity:1;

}
#logout{
	     top:7px;
right:1em;
position:absolute;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;

	
}
#logout button{
	  float: right;
  padding: 5px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif	;
  color: black;
  border: 2px solid #4CAF50; 
  margin-left: 10px;
   background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 2px solid #4CAF50; /* Green */
  border-radius: 2px;
}

#logout button:hover{
		 background-color: white; /* Green */
  color: black;
}
#acc p{
  color: white;
    text-decoration: none;

}
