/* general text formatting */
h1{
	  font-size: 30px;
		color: white;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif	;
  padding: 60px 436px;

}
body{
	background-color: #111c3b    ;
	
}